/* Text colors */
p,
#header {
  color: white;
}

/* Button colors */
.blackBtn {
  background-color: black;
  color: white;
  font-weight: bold;
}
.randomBtn {
  color: rgb(26, 2, 3);
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}

#header,
.sizeSelectionBox,
.controlBtnDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colorDiv {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.controlBtnDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

#board {
  border: solid 80px rgb(201, 63, 63);
  border-radius: 10px;
  width: 500px;
  height: 350px;
  margin-top: 0.1em;
  display: grid;
  background-color: darkslategray;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rebeccapurple, white);
}

.blackBtn,
.randomBtn {
  border-radius: 10px;
}

.startBtn {
  background-color: green;
  padding: 0.5rem;
  font-weight: bold;
  position: absolute;
  top: 29%;
  left: 38%;
}
.eraseBtn {
  background-color: red;
  padding: 0.5rem;
  font-weight: bold;
  position: absolute;
  top: 29%;
  left: 58.5%;
}

footer {
  display: flex;
  position: fixed;
  bottom: 6.5%;
}

.mainDesignDiv {
  display: flex;
  gap: 30rem;
  position: absolute;
  bottom: 19%;
}
.btnDesign {
  background-color: white;
  width: 50px;
  height: 50px;
  clip-path: circle(50%);
}

.message {
  position: absolute;
  top: 28%;
}
